<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">

        <section class="header">
            <div class="top-nav">
                <div class="logo">
                    <i class="fa-solid fa-bars"></i>
                    <img src="/images/logo-website.png" alt="">
                </div>
                <div class="intro">
                    <div class="inrto-icon">
                        <h3 class="title">Specialist</h3>
                        <span>Find the doctor by speciality</span>
                    </div>

                    <div class="inrto-icon">
                        <h3 class="title">Health Facilities</h3>
                        <span>Select clinic</span>
                    </div>

                    <div class="inrto-icon">
                        <h3 class="title">Doctor</h3>
                        <span>Choose a good doctor</span>
                    </div>

                    <div class="inrto-icon">
                        <h3 class="title">Exam package</h3>
                        <span>General health check</span>
                    </div>

                </div>
                <div class="support">
                    <span>
                        <i class="fa-solid fa-headset"></i>
                        Support
                    </span>
                </div>
            </div>
    
            <div class="image-nav">
                <div class="title-image">
                    SPECIALIST MEDICAL EXAMINATION PLATFORM
                </div>
                <div class="btn-search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="input-search" type="text" name="btnSeacrh" placeholder="Seacrh here...">
                </div>
            </div>
    
            <div class="bottom-nav">
                <div class="bottom-item">
                    <i class="fa-solid fa-check"></i>
                    <span>Big hospital</span>
                </div>
                <div class="bottom-item">
                    <i class="fa-regular fa-thumbs-up"></i>
                    <span>Good clinic</span>
                </div>
                <div class="bottom-item">
                    <i class="fa-solid fa-user-doctor"></i>
                    <span>Good doctor</span>
                </div>
                <div class="bottom-item">
                    <i class="fa-regular fa-clock"></i>
                    <span>Priority examination</span>
                </div>
            </div>
        </section>
    
        <section class="popular-specialty">
            <div class="title-section red">
                <span>Popular specialty</span>
                <a href="/">ALL SPECIALITY</a>
            </div>

            <div class="slide green">
                <h1>bla bla</h1>
            </div>

        </section>
    
        <section class="hospiatal-and-clinic">
    
        </section>
    
        <section class="doctors">
    
        </section>
    
        <section class="handbook">
    
        </section>
    
        <section class="contact">
    
        </section>
    </div>
    
</body>
</html>