@import 'variables';
*{
    margin: 0;
    padding: 0;
}

.card-doctor{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    .card-doctor-item{
        margin: 0 50px;
        border: none;
        width: 220px;
        .card-img{
            border-radius: 50%;
            height: 220px;
            width: 220px;
        }
        .card-content{
            margin-top: 10px;
            .card-title{
                font-size: 25px;
                font-weight: 400;
            }
            .card-text{
                font-size: 16px;
                color: #626262;
            }
        }
    }
}


// css navbar
.nav-header{
    margin-bottom: 5px;
    padding-top: 20px ;
    position: relative;
    .bg-slider{
        position: absolute;
        height: 350px;
        width: 100%;
        z-index: -1;
        background-color: #e3f2fd;
        top: 0;
        bottom: 0;
        left: 0;
    }
}

.logo-img{
    height: 40px;
}
// end css navbar

// css slider
.slider-img{
    height: 400px;
    border-radius: 30px;
}
// end css slider



// service view css
.service-view{
    margin-top: 50px;
    .service-list{
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        .service-item:first-child{
            margin-right: 40px;
        }
        .service-item a{
            height: 96px;
            width: 560px;
            border: 1px solid #ccc;
            border-radius: 30px;
            line-height: 85px;
            font-size: 28px;
            font-weight: 640;
            background-image: url('/img/bg-service.png');
            color: #000;
        }
    }
}
// end service view css


// start css card view service
.card {
    margin-bottom: 30px;
}
.card-show {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card-show .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0px solid #dee2e6 !important;
    color: #728299!important;
}
// end css card view service

// css doctor view
